anypoint-examples-4.1/sap-data-retrieval/src/main/resources/BAPI_CUSTOMER_FIND.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
MuleSoft Examples
Copyright 2014 MuleSoft, Inc.
 
This product includes software developed at
MuleSoft, Inc. (http://www.mulesoft.com/).
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="BAPI_CUSTOMER_FIND">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="import" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="MAX_CNT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Number of Records Found</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PL_HOLD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Meta Char.Permitted</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="export" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="RETURN" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="TYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Text</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: log number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: Internal message serial number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="tables" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="RESULT_TAB" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COMP_CODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Company Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TABNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Table Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELDNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELDVALUE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field value</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CUSTOMER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTG_BLK_G" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central posting block</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTG_BLK_C" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Posting block for company code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEL_FLAG_G" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central Deletion Flag for Master Record</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEL_FLAG_C" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Deletion Flag for Master Record (Company Code Level)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Text</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: log number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: Internal message serial number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
<xsd:element name="SELOPT_TAB" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COMP_CODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Company Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TABNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Table Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELDNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELDVALUE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field value</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
</xsd:schema>